Travel Assist.json
{
  "name": "Travel Assist",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -128
      ],
      "id": "3eb82980-2a32-40ee-96f3-12609aebf598",
      "name": "Telegram Trigger",
      "webhookId": "3ee737c7-d9b7-4a23-a573-457a5ef876df",
      "credentials": {
        "telegramApi": {
          "id": "U7Tn8JJA63oRnH0a",
          "name": "Travel Assist"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Travel Assist specific for Panicker Travels. You Should Generate and summarize the answer only from the given context.\nIf context is irrelevant to the question, You should say, Sorry ! I can't find relevant information from the knowledge base. Please ask travel information regarding Panicker's Travel. Don't provide any additional information\nYou should not generate or interpret any response from your knowledge"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -176,
        -128
      ],
      "id": "3c097d2d-40f4-446e-8847-fa03a6c89fe1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        80
      ],
      "id": "b0514f1e-13f3-4131-a9d9-2ea7b78dc4e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        80
      ],
      "id": "87266778-ca4a-421e-bad4-6fa820003516",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -128
      ],
      "id": "03939927-cc01-4203-b1a3-379dd76b99e4",
      "name": "Send a text message",
      "webhookId": "e4d736b2-4eae-4744-bce2-5d1b45a149a7",
      "credentials": {
        "telegramApi": {
          "id": "U7Tn8JJA63oRnH0a",
          "name": "Travel Assist"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "legal",
          "mode": "list",
          "cachedResultName": "legal"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        144
      ],
      "id": "785ade88-4069-4f78-9674-be29e163f0a1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HJfU8QhvcYWXxFTa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "1717d31a-4b0e-4d67-9213-037cb59b5fc9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3a7616c-353b-488d-b2ea-fa3893bb3bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19adec0e7b270696b0e6d84175df1adb04b1257fd15041e5e9881651daa931c2"
  },
  "id": "iot61oVXIem2GjKD",
  "tags": []
}